.single-post-div{
    width: 85%;
    min-height: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0.5px solid white;
    background-color: black;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
}
.back{
    font-size: xx-large;
    color:white;
    margin-left: 15px;
}
.single-post-name{ 
    width: 100%;
    height: 40px;
    display: flex;
    gap: 10px;
    align-items: center;
}
.single-post-img{ 
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.single-post-title{
    width: auto;
    font-size: large;
}
.single-post-div> *{
    color: white;
    font-size: small;
}
.single-post-user{
    color:rgb(141, 141, 141);
}
.single-post-text{
    width: 90%;
    font-size: large;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.single-post-info{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    color:rgb(141, 141, 141);
    font-size: small;
    border-bottom: solid 2px rgb(44,44,44);
    padding-bottom: 10px;
}
.single-post-comments{
    margin-top: 10px;


    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.comment-text-p{
    font-size: large;
    min-width:100%;
    margin-bottom: 10px;
    display: flex;
   align-items: center;
   justify-content: space-between;
}
.add-new-comment{
    font-size: small;
}